<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">A.T.G</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a href="sass.html">Articles</a>
        </li>
        <li>
          <a href="badges.html">Case Notes</a>
        </li>
        <li>
          <a href="collapsible.html">Updates</a>
        </li>
      </ul>
    </div>
  </div>
</nav>