<a href="#" data-target="slide-out" class="sidenav-trigger">
  <i class="material-icons">menu</i>
</a>


<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#user">
        <img class="circle" src="images/yuna.jpg">
      </a>
      <a href="#name">
        <span class="white-text name">John Doe</span>
      </a>
      <a href="#email">
        <span class="white-text email">jdandturk@gmail.com</span>
      </a>
    </div>
  </li>
  <li>
    <a href="#!">
      <i class="material-icons">cloud</i>First Link With Icon</a>
  </li>
  <li>
    <a href="#!">Second Link</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a class="subheader">Subheader</a>
  </li>
  <li>
    <a class="waves-effect" href="#!">Third Link With Waves</a>
  </li>
</ul>



<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/1000/1000/nature/1"></a>
    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/1000/1000/nature/2"></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/1000/1000/nature/3"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/1000/1000/nature/4"></a>
    <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/1000/1000/nature/5"></a>
  </div>